*.exe
*.o
*.lo
*.pyc
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure~
dba100000.xml
depcomp
doc/examples/io1
doc/examples/io2
doc/examples/parse1
doc/examples/parse2
doc/examples/parse3
doc/examples/parse4
doc/examples/reader1
doc/examples/reader2
doc/examples/reader3
doc/examples/reader4
doc/examples/testWriter
doc/examples/tree1
doc/examples/tree2
doc/examples/xpath1
doc/examples/xpath2
example/gjobread
include/libxml/xmlversion.h
install-sh
libtool
libxml-2.0-uninstalled.pc
libxml-2.0.pc
libxml2-config.cmake
libxml2.la
ltmain.sh
missing
missing.lst
m4/libtool.m4
m4/lt*.m4
py-compile
python/gen_prog
python/libxml2-export.c
python/libxml2-py.c
python/libxml2-py.h
python/libxml2.py
python/libxml2class.py
python/libxml2class.txt
python/libxml2mod.la
python/setup.py
python/tests/tmp.xml
runsuite
runtest
runxmlconf
runxmlconf.log
stamp-h1
test.out
testModule
testThreads
testapi
testchar
testdict
testdso.la
testlimits
testrecurse
tmp
xml2-config
xmlcatalog
xmlconf
xmllint
xstc/*-test.py
xstc/Tests
xstc/xsts-*.tar.gz
